## Pass all the env variables to next.config.js to be able to use them in your project.
INFURA_API_KEY=""
INFURA_IPFS_ID=""
INFURA_IPFS_SECRET=""

## next-auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="" ## Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

## nodemailer creds
EMAIL_ADDRESS="youremail@gmail.com"
EMAIL_PASSWORD="yourpassword"

## mongodb atlast uri
MONGODB_URI=""

## Private key
PRIVATE_KEY=""

## contract address deployed on localhost
CONTRACT_ADDRESS=""

## contract address deployed on goerli network
CONTRACT_ADDRESS="" 
